{% extends "base.dtl" %}

{% block title %}Polymath | Page Not Found{% endblock %}

{% block css_includes %}
    <link href="{{ STATIC_URL }}css/view_course.css" rel="stylesheet" type="text/css" /> 
   	<link href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" /> 
{% endblock %}

{% block js_includes %}
 	<script type="text/javascript" src="{{ STATIC_URL }}js/about_page.js"></script>
{% endblock %}

{% block body %}


	<div class="container_12" style="margin-top:50px">
		
		<div class="grid_12 backgrounddiv">
			
		<div class="pagenotfound">
			<h1 id="browsetitle">500 error! That means something bad happened. We're sorry.</h1>
			<h3>We'll be taking a look at what went wrong shortly. </h3>

			<p>In the meantime, contact us if you have any questions!</p>
			<div class="contactsupport">
				<ul><li><a href="http://twitter.com/getpolymath">Twitter</a>&nbsp;&nbsp;|</li>
					<li><a href="mailto:hello@whatispolymath.com">Email</a></li>
					</ul>
			</div>
			
		</div>
	
		</div>
		
	</div>


{% endblock %}